<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>maspas</title>
</head>
<body>
    <div style="margin-left: auto; margin-right: auto; width: 200px;">

    
    <form action="" method="post">
	<p>
	    <label for="maspas">Master password</label> <br>
	    <input type="password" name="maspas">
    </p>

    {% if key == 'first' %}
    <p>
        Please, type your master password, to secure your data <br>
        
        Since this is the first time, this message will not appear in the future. 
    </p>
    {% endif %}

    {% if key == 'wrong' %}
    <p>
        You typed wrong maspas
    </p>
    {% endif %}


	<p>
	    <input type="submit">
    </p>
    </form>
</div>
</body>
</html>